* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

/* common class start here */

.container {
    max-width: 85%;
    margin: 0 auto;
}

.all_btn {
    font-weight: 600;
    font-size: 16px;
    padding: 12px 16px;
    color: rgba(255, 255, 255, 1);
    background-color: #30B868;
    border: 2px solid #30B868;
    border-radius: 4px;
    cursor: pointer;
}

.all_btn:hover {
    background-color: rgba(26, 25, 25, 0.404);
}

/* common class end here */

/* header section and nav section start here */
.header_container {
    background-color: rgba(255, 255, 255, 1);
}

.nav_section {
    display: flex;
    padding: 16px 0;
    align-items: center;
    justify-content: space-between;
}

.nav_section img {
    width: 140px;
}

.nav_section ul {
    display: flex;
    gap: 60px;
    list-style: none;
}

.nav_section ul li a {
    font-size: 16px;
    text-decoration: none;
    color: black;
    font-weight: 600;
}

.nav_section ul li a:hover {
    color: rgb(226, 10, 10);
}

/* header section and nav section end here */


/* hero section start here */
.hero_parent {
    background: url(./assets/hero-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.hero_container {
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 16px;
    height: 100vh;
    color: white;
}

.hero_container .hero_btn {
    font-size: 16px;
    font-weight: 500;
    color: rgba(70, 145, 101, 1);
    padding: 8px 12px;
    border-radius: 1000px;
    border: none;
    cursor: pointer;
}

.hero_btn:hover {
    background-color: rgba(70, 145, 101, 0.192);
    color: white;
}

.hero_container h2 {
    font-size: 72px;
    text-transform: capitalize;
}

.hero_container h2 span {
    color: #30B868;
    font-weight: 700;
    line-height: 84px;
}

.hero_container p {
    font-size: 18px;
    color: rgba(255, 255, 255, 1);
    line-height: 24px;
    font-weight: 400;
}

.hero_section_btn .all_btn {
    margin-right: 20px;
}

.hero_section_btn .all_btn_2 {
    font-weight: 600;
    font-size: 16px;
    padding: 12px 16px;
    color: rgba(255, 255, 255, 1);
    border: 2px solid #30B868;
    background-color: rgba(255, 222, 173, 0);
    border-radius: 4px;
    cursor: pointer;
}

.hero_section_btn .all_btn_2:hover {
    background-color: rgba(255, 255, 255, 0.144);
}

/* hero section end here */

/* notes section start here */
.notes_text {
    text-align: center;
    margin-top: 80px;
}

.notes_text h2 {
    font-size: 48px;
    font-weight: 700;
    line-height: 58px;
    color: rgba(0, 25, 49, 1);
    text-transform: capitalize;
}

.notes_text p {
    font-size: 16px;
    font-weight: 400;
    color: rgba(98, 115, 130, 1);
    margin-bottom: 44px;
}

.notes_card_container {
    display: flex;
    gap: 24px;
}

.notes_card_container .notes_card {
    width: 322px;
    padding: 24px;
    border-radius: 8px;
    text-align: center;
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.151);
}

.notes_card img{
    width: 60px;
    padding: 20px;
    background-color: rgba(249, 85, 85, 1);
    border-radius: 50px;
}

.notes_card h2{
    font-size: 24px;
    font-weight: 600;
    line-height: 29px;
    color: rgba(0, 25, 49, 1);
    text-transform: capitalize;
}

.notes_card p{
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    margin-top: 20px;
    color: rgba(98, 115, 130, 1);
}
/* notes section end here */

/* second brain section start here */
.second_brain_container{
    margin-top: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 60px;
}

.second_brain_image img{
    width: 600px;
}

.second_brain_text{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.second_brain_text .sub_title_p{
    color: rgba(70, 145, 101, 1);
}

.second_brain_text h2{
    color: rgba(0, 25, 49, 1);
    font-size: 48px;
    font-weight: 700;
    line-height: 58px;
    text-transform: capitalize;
}

.second_brain_text p{
    color: rgba(98, 115, 130, 1);
    line-height: 20px;
}

.second_text{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.second_text p{
    color: rgba(0, 25, 49, 1);
    display: flex;
    gap: 10px;
}
/* second brain section end here */


/* ready to think section start here */
.ready_to_think_container{
    text-align: center;
    padding: 80px 40px;
    background: rgba(247, 246, 242, 1);
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    margin-top: 120px;
}

.ready_to_think_container h2{
    font-size: 40px;
    font-weight: 700;
    color: rgba(0, 25, 49, 1);
    text-transform: capitalize;
}

.ready_to_think_container p{
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}
/* ready to think section end here */

/* footer section start here */
.footer_perant{
    background-color: rgba(0, 25, 49, 1);
    padding: 120px 0 30px 0;
    margin-top: 120px;
}
.footer_container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 83px;
}
.footer_container img{
    width: 140px;
}

.footer_container p{
    color: rgba(255, 255, 255, 1);
    font-size: 20px;
    font-weight: 500;
    line-height: 28px;
    margin-bottom: 16px;
}

.social_icon i{
    width: 30px;
    height: 30px;
    padding-top: 8px;
    background-color: white;
    border-radius: 1000px;
    cursor: pointer;
    margin-right: 6px;
}

.hr{
    border: 1px solid rgb(235, 229, 229);
    margin-bottom: 30px;
}

.footer_copy_right{
    text-align: center;
    color: rgba(250, 250, 250, 1);
}

/* footer section start here */